@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html{
    background-color:#f3f3f3;
}
header, main, footer {
    max-width: 1160px;
    margin: auto;
}
header, footer{
    background-color:#17abb3;
    color: #ffffff;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
}
nav a{
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:#ffffff;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
}
img{
    display:flex;
    flex-direction:row;
    align-items:left;
    justify-content:left;
    gap:10px;
    border:3px solid #ffffff;
    border-radius:100px;
    width: 150px;
    height: 150px;
    border-radius: 100%; 
    overflow: hidden;  
    width: 30%; 
    height: 30%; 
    object-fit: cover; 
    
}
body{
    background-color:#ffffff;
}
h1, h2, h3{
    font-family: lato, sans-serif;
}
p{
    font-family: raleway, sans-serif;
}
h3{
    color: #17abb3;
}
main{
    display:flex;
    flex-basis: 0;
}
article{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.Profile{
    text-align:justify;
    text-indent:20px;
}
.droite{
    width:1400px;
    margin-left:10px;
}
div:hover{
    border-left-color:#17abb3;
    background-color:#f3f3f3;
}
div{
    border-left:5px;
    border-left-style:solid;
    border-color:#ffffff;
}
.date{
    text-align:right;
}
.gauche{
    width:800px;
    background-color:#e3e3e3;
}